:root{
        --blurple:  #5865F2;
	--background:  rgb(24, 26, 34);
        --text: #ffffff;
        --font1: "Quicksand", sans-serif;
}
::selection{
  color:var(--blurple)
}
* {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font1);
}
.pp{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
.github{
  color: white;
  opacity: 1.0;
}
.github:hover{
  color: white;
  opacity: 0.9;
}
/* ----------------------------------------------------------------------------- */
/* ANIMASYONLAR */
@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* ----------------------------------------------------------------------------- */
