:root{
  --blurple:  #5865F2;
	--green: #57F287;
	--yellow:  #FEE75C;
	--pink: #EB459E;
	--red:  #ED4245;
	--grey:  #99aab5;
	--dark: #2c2f33;
	--black: #23272a;
	--orange:  #faa61a;
	--background:  rgb(24, 26, 34);
  --text: #ffffff;
  --font1: "Quicksand", sans-serif;
}
::selection{
  color:var(--blurple)
}
* {
  background-color: var(--background);
  color: var(--text);
  background-repeat: false;
  font-family: var(--font1);
}
.pp{
   width: 150px;
   height: 150px;
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   -webkit-animation: smooth-shake 10s ease-in-out infinite;
   animation: smooth-shake 10s ease-in-out infinite;
}
.github{
  color: white;
  opacity: 1.0;
}
.github:hover{
  color: white;
  opacity: 0.9;
}
/* ----------------------------------------------------------------------------- */
/* ANIMASYONLAR */
@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

@-webkit-keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes smooth-shake {
  0%,
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* ----------------------------------------------------------------------------- */
